<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/login.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">登陆界面</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="username">用户名:</label>
                <input id="username" type="text" class="form-control" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <label for="password">密码:</label>
                <input type="password" id="password" class="form-control" placeholder="请输入密码">
            </div>
            <button id="loginBtn" class="btn btn-block btn-primary">
                登录系统
            </button>
        </form>
    </div>
    <div class="panel-footer" id="loginMsg">
    </div>
</div>
</body>
</html>